on post-fs-data

    # radion
    chown radio radio /sys/kernel/ccci/boot

    # We chown/chmod /nvdata again so because mount is run as root + defaults
    chown root system /nvdata
    chmod 0771 /nvdata
    mkdir /nvdata/media 0770 media audio
    symlink /nvdata /data/nvram
    
    # Modem related device nodes
    mkdir /data/nvram/md  0770 root system
    mkdir /data/nvram/md2  0770 root system

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /nvdata
    restorecon_recursive /data/nvram/md2

